@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
* {
	box-sizing: border-box;
	font-family: Open Sans;
}
html {
	font-size: 10px;
}
main {
	overflow: hidden;
}
.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}